@media(max-width: 1400px){
                .card{
                    width: 40% !important;
                }
            }



body {
    background:url(/images/bj.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; 
    background-size: cover;      
    background-position:50% 50%;

    color: #fff;
}

.header-inner {
  border-radius: 20px 20px 20px 20px;
  background: rgba(8, 23, 42, 0.46);
}

.sidebar {
background-color: rgba(255, 255, 255, 0);
}

.sidebar-inner {
  background: rgba(8, 23, 42, 0.46);
  border-radius: 20px 20px 20px 20px;
}

.posts-expand {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  -webkit-box-shadow: 0 0 14px rgba(202,203,203,0.5);
  -moz-box-shadow: 0 0 14px rgba(202,203,204,0.5);
}

.content-wrap {
  opacity: 0.95;
  background: initial;
  box-shadow: initial;
  padding: initial;
}

.post-block {
  background: rgba(8, 23, 42, 0.46);
  border-radius: 20px 20px 20px 20px;
}

.post-block + .post-block {
  background: rgba(8, 23, 42, 0.46);
  border-radius: 20px;
}

.comments {
  border-radius: 20px;
  background: rgba(8,23,42,0.46);
}


.posts-expand .post-title-link {
    color: #fff;
}


a, span.exturl {
    border-bottom: 1px solid #464141;
    color: #a6c6ef;
}

.v[data-class=v] .txt-right {
    text-align: center;
}

.site-author-name {
    color: #fff;
}

.menu-item-active a, .menu .menu-item a:hover, .menu .menu-item span.exturl:hover {
    background: #7b5773;
}

.main-menu .menu-item-active a::after {
    background: #9ade93;
}

blockquote {
    color: #fff;
}

.posts-collapse .post-title a, .posts-collapse .post-title span.exturl {
    color: #fff;
}

